@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --anchor-color: #4e80ee;
  --font-color: #030616;
  --hr-color: #d2d5da;
  --main-bg: #f8fafc;
  --header-bg: #ffffff;
  --font-family: "Inter";
  --heading-weight: 600;
  --heading-size: 36px;
  --subHeading-weight: 600;
  --subHeading-size: 24px;

  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: var(--font-family);
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

hr {
  color: var(--hr-color);
  border: 1px solid;
  border-radius: 6px;
  margin: 24px auto;
  max-width: 640px;
}

ul,
ol {
  margin-left: 24px;

  li ~ li {
    margin-top: 8px;
    line-height: 1.75;
  }
}

body {
  background-color: var(--header-bg);
  color: var(--font-color);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 42px 0;

  h1 {
    font-size: var(--heading-size);
    font-weight: var(--heading-weight);
    line-height: 2;
  }
}

main {
  background-color: var(--main-bg);
  align-content: center;
  padding: 42px 8px;
  flex: 1;

  section {
    margin: auto;
    max-width: 640px;
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    h2 {
      font-size: var(--subHeading-size);
      font-weight: var(--subHeading-weight);
    }

    span {
      font-weight: var(--subHeading-weight);
    }
  }
}
